body{
    margin: 0;
}

.containers{
    background-color:navajowhite ;
    display:grid;
    height: 100vh;
    grid-template-columns:- auto ;
    grid-template-rows: 12% 10% auto 10%;
    grid-template-areas: 
    "hd"
    "nav"
    "mn"
    "ft";
}

header{
    grid-area: hd;
}

nav{
    grid-area: nav;
    display:flex;
    padding-left: 30%;
    padding-right: 30%;
}

main{
    grid-area: mn;
    padding: 40px;
    display:flex;
}

footer{
    grid-area: ft;
}



nav a{
    height:10px;
    width: 50px;
    margin:auto;
    margin-left: 12%;
    margin-right: 12% ;
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.Articles{
    border-radius: 10px;
    border-color:lightslategray;
    border-style:solid;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}


/* Index  */



#A1 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url(../img/food/eiliv-aceron-ZuIDLSz3XLg-unsplash.jpg);
}

#A2 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url(../img/food/chad-montano-MqT0asuoIcU-unsplash.jpg);
}

#A3 {
    height: 100%;
    width: 25%;
    background-position-x: 78%;
    margin: auto;
    background-image: url(../img/animals/michael-payne-a9NQ6z1zqro-unsplash.jpg);
}



/* Sida 2 */

#S2A1 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}

#S2A2 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}

#S2A3 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}

#S2A4 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}

#S2A5 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}

#S2A6 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}
