body{
    margin: 0;
    background-color:navajowhite ;
}

.containers{
    display:grid;
    height: 100vh;
    grid-template-columns:- auto ;
    grid-template-rows: 12% 10% auto 10%;
    grid-template-areas: 
    "hd"
    "nav"
    "mn"
    "ft";
}

header{
    grid-area: hd;
    display: flex;
}

h1 {
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 40px;
    font-size: 3rem;
}

nav{
    grid-area: nav;
    display:flex;
    justify-content: flex-end;
    align-items: stretch;
    margin: 10px;
}

main{
    grid-area: mn;
    padding: 40px;
    display:flex;
}

footer{
    grid-area: ft;
}



nav a{
    background-color: rgb(218, 166, 97);
    color: black;
    border-radius: 5px;
    font-size: 2rem;
    padding: 10px;
    margin-right: 140px;
    align-items: stretch;
    justify-content: stretch;
    
}

a:hover{
    background-color: rgb(154, 98, 41);
}

.Articles1{
    border-radius: 5px;
    border-color:lightslategray;
    border-style:solid;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}


/* Index  */


#A1 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url(../img/food/eiliv-aceron-ZuIDLSz3XLg-unsplash.jpg);
}

#A2 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url(../img/food/chad-montano-MqT0asuoIcU-unsplash.jpg);
}

#A3 {
    height: 100%;
    width: 25%;
    background-position-x: 78%;
    margin: auto;
    background-image: url(../img/animals/michael-payne-a9NQ6z1zqro-unsplash.jpg);
}



/* Sida 2 */

.Articles2{
    border-radius: 5px;
    border-color:lightslategray;
    border-style:solid;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    align-items:;
}

#mn2 {
    flex-flow: wrap;
}

#S2A1 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}

#S2A2 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}

#S2A3 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}

#S2A4 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}

#S2A5 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}

#S2A6 {
    height: 100%;
    width: 25%;
    margin: auto;
    background-image: url();
    background-color: white;
}
